body {
    background-color: rgb(255, 255, 255);
}

.btn-success:hover, .btn-danger:hover, .btn-info:hover, .btn-warning:hover {
    color: white;
}

.service-item:hover {
    border: 2px solid black;
    cursor: pointer;
}